exports/
imports/
product/
package/
lib/
whole_program_debug/
debug/
release/
tdiff,*
.libraries*
.generated_files
.dlls
.executables
.interfaces
.libraries
.imports
.imports.xml
.smmakefirst
.cg*
.*tools-*
.xdcenv.mak
.bin-files,cmds
.src-files
.etc-files
.test-files
.all-files
.lib-files
.include-files
package.mak
Make.log
coverity.txt
misra.txt
*.exe
TAGS
*.x86U
*.o
*.out
*.xe*
*.map
*.xml

# klocwork-generated directory and files
kw-test/
kwout.txt
